body{
    background-color: #232323;
}

/*video{
    transform:  scale(1.5) translate(-20%, -80%);
}*/

.coloredCanvas{
    transform:  scale(1.5) translate(50%, -211%);
}

.canvasLeft:active{
    transform: scale(2) translate(20%, 10%);
}

.canvasRight:active{
    transform: scale(2) translate(-20%, 10%);
}

/*canvas for aoi over image */
:root{
    --width: 0px;
}

.outsideWrapper{                                    /*dynamisch!!!*/
    width:  var(--width);                           /*dynamisch!!!*/
    height: calc(var(--width)/1.3333333);           /*dynamisch!!!*/
    transform:  scale(1.5) translate(-50%, -100%);
}
.insideWrapper{
    width:100%;
    height:100%;
    position:relative;
}
.coveredImage{
    width:100%;
    height:100%;
    position:absolute;
}
.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
}