:root{
    --width: 0px;
    --height: 0px;
}

body{
    background-color: #232323;
}

button{
    width: 200px;
}


.canvasLeft:active{
    transform: scale(2) translate(20%, 10%);
}

.canvasRight:active{
    transform: scale(2) translate(-20%, 10%);
}

canvas{
    transform: scaleX(-1);
}

video {
    transform: scaleX(-1);
}

#gameCanvas:hover{
    transform: translate( 0%, -40%) scale(1.5) scaleX(-1);
    opacity: 80%;
}