body{
    background-color: #232323;
}

video{
    transform:  scale(1.5) translate(-20%, -280%);
}

.coloredCanvas{
    transform:  scale(1.5) translate(50%, -280%);
}

.canvasLeft:active{
    transform: scale(2) translate(20%, 10%);
}

.canvasRight:active{
    transform: scale(2) translate(-20%, 10%);
}

.canvasRightHover:hover{
    transform: scale(4.5) translate(-15%, 0%);
}

/*canvas{
    transform: scaleX(-1);
}*/

#gameCanvas:hover{
    transform: translate( 0%, -60%) scale(1.8) /*scaleX(-1)*/;
}